<div class="footer d-flex flex-column">
    <ul class="px-0 d-flex flex-sm-row flex-column">
        <li class="text-center text-sm-start">Characters: 77</li>
        <li class="text-center text-sm-start ms-0 ms-sm-3">Locations: 24</li>
        <li class="text-center text-sm-start ms-0 ms-sm-3">Episodes: 172</li>
    </ul>
    <div>
        <p>Status: Developing</p>
    </div>
    <div>
        <ul class="p-0">
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
    <div>
        <p>Webpage by <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://es.linkedin.com/in/adrian-cremades-garzon-028b12a6?trk=people-guest_people_search-card">Adrian Cremades Garzon</a> 2023</p>
    </div>
</div>