.card{
    background-color: #9DBEBB;
    div{
        width: 300px;
    }
    img{
        border-radius: var(--bs-border-radius) !important;
        max-width: 40rem;
    }
}

dt{
    color: #F4E9CD;
}

.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: gray;
}