.card{
    background-color: #9DBEBB;
    div{
        min-width: 300px;
    }
    img{
        border-radius: 3%;
    }
}

.text-container{
    .card-text{
        color: #F4E9CD;
    }
}

.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: gray;
}