.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #77ACA2;
    .row{
        display: flex;
        padding: 1rem;
        justify-content: center;
        .planet-container{
            display: flex;
            margin: 1rem;
            justify-content: center;
            width: 20rem;
            height: 10rem;
        }
    }
}