<div class="d-block d-sm-flex flex-column">
    <div class="m-0 p-3 row justify-content-center d-block d-sm-flex" *ngIf="episodesData">
        <div class="episode-container pt-1 p-sm-3 col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let episode of episodesData.results">
            <app-episode-card [episode]="episode"></app-episode-card>
        </div>
    </div>
    <div *ngIf="episodesData.info?.pages" class="d-flex justify-content-center">
        <app-pagination [pages]="episodesData.info.pages" (pageGo)="loadPage($event)"></app-pagination>
    </div>
</div>