<main class="d-flex flex-column align-items-center justify-content-center mh">
    <section class="spinner-border" role="status" *ngIf="!charactersData">
        <span class="sr-only">Loading...</span>
    </section>
    <section class="m-0 row d-flex p-3" *ngIf="charactersData">
        <div class="d-flex col-12 justify-content-center">
            <app-character-filter (newFilters)="loadFilters($event)"></app-character-filter>
        </div>
        <div class="justify-content-start d-block d-sm-flex mt-3 col-12 col-lg-6" [ngClass]="i%2 == 0 ? 'justify-content-sm-end':'justify-content-sm-start'" *ngFor="let character of charactersData.results; index as i">
            <app-character-card [character]="character"></app-character-card>
        </div>
    </section>
    <section *ngIf="charactersData.info?.pages">
        <app-pagination [newPages]="charactersData.info.pages" (pageGo)="loadPage($event)"></app-pagination>
    </section>
</main>