<div class="d-flex flex-column align-items-center justify-content-center mh">
    <div class="spinner-border" role="status" *ngIf="!charactersData">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="m-0 row d-flex justify-content-center p-3" *ngIf="charactersData">
        <div class="justify-content-start d-block d-sm-flex mt-3 col-12 col-lg-6" [ngClass]="i%2 == 0 ? 'justify-content-sm-end':'justify-content-sm-start'" *ngFor="let character of charactersData.results; index as i">
            <app-character-card [character]="character"></app-character-card>
        </div>
    </div>
    <div *ngIf="charactersData.info?.pages">
        <app-pagination [pages]="charactersData.info.pages" (pageGo)="loadPage($event)"></app-pagination>
    </div>
</div>